---
title: 'Test Form'
permalink: /test-form
---

<div class="field">
    Goto:
    <a href="../test-list">Test list</a>
</div>

{% assign strings = site.data.strings %}

{% include submission-form.liquid type="start" name="test_submission" version="1"%}

<div class="field">
    <fieldset>
        <label>{{strings.text_one_label}}:
            <input name="text_one" type="text"/>
        </label>
        <label>{{strings.text_two_label}}:
            <input name="text_two" type="text"/>
        </label>
    </fieldset>
</div>

<div class="field">
    <fieldset>
        <label>{{strings.option_label}}:
            <select name="option">
                <option value="none">{{strings.option_none}}</option>
                <option value="one">{{strings.option_one}}</option>
                <option value="two">{{strings.option_two}}</option>
            </select>
        </label>
    </fieldset>
</div>

<div class="field">
    <fieldset>
        <label>{{strings.checkbox_one}}:
            <input name="checkbox_one" type="checkbox"/>
        </label>
        <label>{{strings.checkbox_two}}:
            <input name="checkbox_two" type="checkbox"/>
        </label>
    </fieldset>
</div>

<div class="field">
    <fieldset required>
        <legend>{{strings.checkbox_group_legend}}</legend>
        <label>{{strings.checkbox_group_a}}:
            <input name="checkbox_group_a" type="checkbox"/>
        </label>
        <label>{{strings.checkbox_group_b}}:
            <input name="checkbox_group_b" type="checkbox"/>
        </label>
    </fieldset>
</div>

<div class="field">
    <fieldset>
        <legend>{{strings.radio_group_legend}}</legend>
        <label>{{strings.radio_one}}:
            <input name="radio" type="radio" value="one"/>
        </label>

        <label>{{strings.radio_two}}:
            <input name="radio" type="radio" value="two"/>
        </label>
    </fieldset>
</div>

<button type="submit">Submit</button>

{% include submission-form.liquid type="end"%}
